.product-container {
   width: 100%;
   max-width: 290px;
   margin: 0 auto;
}

@media (min-width: 576px){
    .product-container {
       max-width: 540px;
    }
}

@media (min-width: 768px){
    .product-container {
       max-width: 700px;
    }
}

@media (min-width: 992px){
    .product-container {
        max-width: 920px;
    }
}

@media (min-width: 1200px){
    .product-container {
        padding: calc(((85vh - 480px) / 2)- 20px) 0;
        max-width: 1140px;
        margin-left: 10px;
        padding: 0 100px;
    }
}

@media (min-width: 1366px){
    .product-container {
        max-width: 1430px;
        margin-left: 50px;
    }
}
