@media (min-width: 1200px){
    .product-container {
        margin-left: 5px;
        padding: calc(((85vh - 480px) / 2)- 20px) 0;
    }
}

@media (min-width: 1366px){
    .product-container {
        margin-left: 10px;
    }
}

@media (min-width: 1366px){
    .product-container {
        margin-left: 40px;
    }
}