.main-nav {
    min-height: 70px;
    padding: 20px 10px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.main-content-nav {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding: 0;
}

.main-container-menu{
    justify-content: flex-end;
}

.main-menu {
    display: flex;
    padding: 10px 10px 10px 0px;
    font-size: 18px;
    width: 170px;
    justify-content: space-between;
}

.main-menu li {
    padding: 5px 5px 5px 0px;
}

.main-menu a.active{
    color: #00285F;
    font-weight: bold;
}

@media (min-width: 576px) {
    .main-container-menu{
        justify-content: flex-end;
    }
    .main-content-nav {
        max-width: 536px;
    }
}

@media (min-width: 768px) {
    .main-content-nav {
        max-width: 728px;
    }
}

@media (min-width: 992px) {
    .main-content-nav {
        max-width: 952px;
    }
}

@media (min-width: 1200px) {
    .main-content-nav {
        max-width: 1000px;
    }
}
