.main-nav {
    min-height: 70px;
    padding: 20px 10px;
    top: 0;
    left: 0;
    right: 0;
    position: absolute;
}

.main-container-menu{
    justify-content: flex-end;
    padding-right: 10px;
}

.main-menu {
    display: flex;
    padding: 10px 10px 10px 0px;
    font-size: 18px;
    width: 170px;
    justify-content: space-between;
}

.main-menu li {
    padding: 5px 5px 5px 0px;
}

.main-menu a.active{
    color: #00285F;
    font-weight: bold;
}

@media (min-width: 576px) {
    .main-container-menu{
        justify-content: flex-end;
        padding-right: 10px;
    }

    .main-nav {
        padding-left: 10px;
    }
}

@media (min-width: 768px) {
    .main-container-menu{
        padding-right: 10px;
    }

    .main-nav {
        padding-left: 20px;
    }
}

@media (min-width: 992px) {
    .main-container-menu{
        padding-right: 10px;
    }

    .main-nav {
        padding-left: 10px;
    }
}

@media (min-width: 1200px) {
    .main-container-menu{
        padding-right: 50px;
    }

    .main-nav {
        padding-left: 70px;
    }
}

@media (min-width: 1366px) {
    .main-container-menu{
        padding-right: 100px;
    }

    .main-nav {
        padding-left: 140px;
    }
}

