.btn-container-product {
    width: 257.93px;
    height: 40px;
    border-radius: 5px;
    color: #FFFFFF;
    align-items: center;
    text-align: center;
    margin: 0px;
}

.btn-container-product h6 {
    font-size: 14px;
}

@media (min-width: 576px){
    .btn-container-product {
        width: 220px;
    }
}

@media (min-width: 768px){
    .btn-container-product {
        width: 260px;
    }
}

@media (min-width: 992px){
    .btn-container-product {
        width: 260px;
    }
}

@media (min-width: 1200px){
    .btn-container-product {
        width: 275px;
    }
}