@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap');

*{
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 0;
}

a, a:hover{
    text-decoration: none;
    color: unset;
}

.base-card {
    background-color: #00285F;
    border-radius: 10px;
    box-shadow: 0px 4px 20px 0px #00000040;

}

.base-card-main-product {
    border-radius: 10px;
    background: #EDEDED;
}